body {
	background-color: rgb(200, 194, 193);
	background-image: url("https://i.pinimg.com/736x/71/50/ef/7150effddf87f6df0a688644087b5b0d--pink-flowers-pink-roses.jpg");
	background-attachment: fixed;
	text-align: center;
  color: rgb(236, 61, 192);
  font-family: 'Cantarell', sans-serif;
}

h2 {
	text-align: center;
}

img {
	width: auto;
	margin: auto;
	display: block;
	opacity: .8;
	border-radius: 30px;
	padding: 10px;
}

ul	{
	list-style-type: none;
	padding-bottom: 40px;
	border: 5px solid rgb(146, 231, 72);
	text-align: left;
	color: black;
}

a {
	text-align: center;
	text-decoration: none;
}

a:link {
	color: rgb(255, 255, 255);
}

a:visited {
	color: rgb(237, 122, 15);
}

a:hover {
	text-decoration: underline;
	color: rgb(146, 231, 72);
}

strong {
	color: rgb(146, 231, 72);
}

blockquote {
	text-align: center;
	color: rgb(237, 122, 15);
}

footer {
	font-size: 14px;
	padding: 2em;
}

.main-content {
	background-color: #e9e5e9;
	opacity: .9;
	padding-top: 7px;
	border-radius: 30px;
}
